<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Despacho.Demonio.Notificaciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Despacho.Demonio.Notificaciones.Properties.Settings>
            <setting name="Despacho_Demonio_Notificaciones_controlSMS_Service"
                serializeAs="String">
                <value>https://secure.controlsms.net/ws/service.asmx</value>
            </setting>
        </Despacho.Demonio.Notificaciones.Properties.Settings>
    </applicationSettings>
</configuration>